*{
  margin: 0;
  padding: 0;
}

.App{
display: flex;
background: whitesmoke;
flex-direction: column;
width: 100%;
min-height: 100vh;

}

.navbar{
  display: flex;
  padding: 10px;
  background-color: black;
  color: white;
  justify-content:flex-end;
  justify-items:auto;
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-between;

}

li{
  margin: 10px;
  font-size: 22px;
}